form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 30%;
    margin: auto;
}

.field-container label {
    font-weight: bold;
    font-size: 20px;
    color: #99B080;
}

.field-container input {
    padding: 15px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
}

.btn-submit {
    background-color: #748E63;
    color: #FAF8ED;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.arrow-icon {
    width: 40px;
    transform: rotate(270deg);
    background-color: white;
}