button {
    background-color: rgba(0,0,0,0);
    border: none;
}

main {
    height: 85vh;
    width: 100vw;
}

.main-background-login {
    width: 100vw;
    height: 100%;
    background-image: url("../images/login-background.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: scale(1.1);
    z-index: -1;
    position: fixed;
}

.main-content-login {
    background-color: rgba(0, 0, 0, 0.4);
    height: 90%;
    width: 100vw;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 9px;
}

.form-container label {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.form-container input {
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
}

.btn-entrar {
    background-color: white;
    padding: 15px;
    color: #476D1D;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    width: 30%;
    transition: 0.4s;
}

.btn-entrar:hover {
    background-color: rgba(60, 240, 90, 1);
    color: white;
}

.criar-conta a {
    color: white;
    text-decoration: underline;
}