@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    background-color: #172C2B;
    width: 100vw;
    height: 10vh;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo {
    width: 30%;
}

.header-logo-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.voltar-pagina {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.voltar-pagina img {
    width: 30px;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.perfil-usuario img {
    width: 40px;
}

footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #99B080;
}

.main-content {
    margin-bottom: 10px;
}