{% extends "templs/basePage.html" %}

{% block title %} Alterar Cadastro {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/plano.css') }}">
{% endblock %}

{% block main %}
<main>
    <div class="container-plano">
        <div class="container-plano-conteudo">
            <p class="container-plano-conteudo-plano">Silver</p>
            <p class="container-plano-conteudo-plano-descricao">Conta Gratuita</p>
            <ul>
                <p>Consulta de histórico ilimitados dos vegetais</p>
            </ul>
            <ul>
                <p>Acesso limitado à previsões - 3 testes gratuitos</p>
            </ul>
            <div class="container-plano-conteudo-bloco">
                <p class="container-plano-conteudo-bloco-preco">R$ 0</p>
                <button class="btn-assinar" onclick="alteraPlano('silver')">Assinar</button>
            </div>
        </div>
        <div class="container-plano-conteudo">
            <p class="container-plano-conteudo-plano">Gold</p>
            <p class="container-plano-conteudo-plano-descricao">Conta Paga</p>
            <ul>
                <p>Consulta de histórico ilimitados de todos os itens</p>
            </ul>
            <ul>
                <p>Acesso limitado à previsões - 20 previsões por mês</p>
            </ul>
            <div class="container-plano-conteudo-bloco">
                <p class="container-plano-conteudo-bloco-preco">R$ 500</p>
                <button class="btn-assinar" onclick="alteraPlano('silver')">Assinar</button>
            </div>
        </div>

        <div class="container-plano-conteudo">
            <p class="container-plano-conteudo-plano">Diamond</p>
            <p class="container-plano-conteudo-plano-descricao">Conta Paga</p>
            <ul>
                <p>Consulta de histórico ilimitados de todos os dias</p>
            </ul>
            <ul>
                <p>Acesso ilimitado à previsões</p>
            </ul>
            <div class="container-plano-conteudo-bloco">
                <p class="container-plano-conteudo-bloco-preco">R$ 1000</p>
                <button class="btn-assinar" onclick="alteraPlano('silver')">Assinar</button>
            </div>
        </div>
    </div>
    <script>
        function alteraPlano(plano) {
            
        }
    </script>
</main>
{% endblock %}