<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HortScale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <div class="background-container"></div>
    <div>
        <img src="{{ url_for('static', filename='images/logo-transparente.png') }}" class="logo"/>
        <img src="{{ url_for('static', filename='images/fundo-homepage-folha.png') }}" class="folha"/>
    </div>
    <div class="homepage-container">
        <h1></h1>
        <div class="homepage-footer">
            <button class="btn-login" onclick="redirecionar('login')">
                Já tenho uma conta
            </button>
            <button class="btn-registrar" onclick="redirecionar('cadastro')">
                Criar nova conta
            </button>
        </div>
    </div>

    <script>
        function redirecionar(rota) {
            window.location.href = rota;
        }
    </script>
</body>
</html>