{% extends "templs/basePage.html" %}

{% block title %} Formulário de Login {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block main %}
<main>
    <div class="main-background"></div>
    <div class="main-content">
        <form action="autentica" method="POST">
            <div class="form-container">
                <label name="email">E-mail</label>
                <input type="email" name="email" id="email"/>
            </div>    
            <div class="form-container">
                <label name="senha">Senha</label>
                <input type="password" name="senha" id="senha"/>
            </div>    
            <button type="submit" class="btn-entrar">Entrar</button>
        </form>            
    </div>
</main>
{% endblock %}