{% extends "templs/basePage.html" %}

{% block title %} Pagamento {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pagamento.css') }}">
{% endblock %}

{% block main %}
<main>
    <h2>Formas de Pagamento</h2>
    <h3>Plano Selecionado: <span style="text-transform: capitalize;">{{ plano }}</span></h3>
    <form action="pagar" method="post">
        <div class="form-container">
            <input type="radio" name="forma_pagamento" id="cartao" value="cartao" checked>    
            <label for="cartao">Cartão</label>
        </div>
        <div class="form-container">
            <input type="radio" name="forma_pagamento" id="boleto" value="boleto">    
            <label for="boleto">Boleto</label>
        </div>
        <div class="form-container">
            <input type="radio" name="forma_pagamento" id="pix" value="pix">
            <label for="pix">PIX</label>
        </div>
        <button type="submit" class="btn-compra">Finalizar compra</button>
        <input type="hidden" name="plano" value="{{plano}}"/>
    </form>
</main>
{% endblock %}