<!DOCTYPE html>
<html>
<head>
<body>
    <main>
        <form action="/redefinir_senha" method="POST">
                
            <div class="field-container">
                <label name="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>  
            <div class="field-container">
                <label name="password">Senha</label>
                <input type="password" name="password" id="password">
            </div>  
            <div class="field-container">
                <label name="confirmar_senha">Confirmar Senha</label>
                <input type="password" name="confirmar_senha" id="confirmar_senha">
            </div>  
            <div class="field-container">
                <button type="submit" class="btn-submit"></button>
            </div>
        </form>
    </main>

</body>
</head>
</html>