{% extends "templs/basePage.html" %}

{% block title %} Selecionar Fruta {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selecionar_frutas.css') }}">
{% endblock %}

{% block main %}
<main>
    <h2>Selecionar a fruta para a previsão: </h2>
    <div class="container">
        {% for chave, valor in dados.items() %}
        <div class="item-container" onclick="redirecionarGraficos('{{ chave }}')">
            {{ valor }}
        </div>
        {% endfor %}
    </div>
</main>
<script>
    function redirecionarGraficos(rota) {
        window.location.href = 'graficos_historico/frutas/' + rota;
    }
</script>
{% endblock %}