{% extends "templs/basePage.html" %}

{% block title %} Selecionar Folhagem {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selecionar_folhagem.css') }}">
{% endblock %}

{% block main %}
<main>
    <h2>Selecionar a folhagem para a previsão: </h2>
    <div class="container">
        <!-- <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Alface
        </div>
        <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Brócolis
        </div>
        <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Chicória
        </div>
        <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Coentro
        </div>
        <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Couve
        </div>
        <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Couve-Flor
        </div>
        <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Repolho
        </div>
        <div class="item-container" onclick="redirecionar('selecionar_hortalica')">
            Rúcula
        </div> -->
        {% for chave, valor in dados.items() %}
        <div class="item-container" onclick="redirecionarGraficos('{{ chave }}')">
            {{ valor }}
        </div>
        {% endfor %}
    </div>
</main>
<script>
    function redirecionarGraficos(rota) {
        window.location.href = 'graficos_historico/' + rota;
    }
</script>
{% endblock %}